.Trend {
    padding-top: 45px;
    padding-bottom: 45px;
    @media(max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h2 {
        &.trade-title {
            font-size: 42px;
            font-weight: 400;
            color: $green;
            margin-bottom: 30px;
            text-align: center;
            @media(max-width: 768px) {
                font-size: 32px;
            }
            @media(max-width: 479px) {
                font-size: 32px * 0.75;
            }
        }
    }
    .steps-wrapper {
        padding-bottom: 45px;
        .row {
            .step-item {
                @media(max-width: 768px) {
                    max-width: 100%;
                    flex-basis: 100%;
                    padding: 0;
                    margin-bottom: 25px;
                }
                .wrap {
                    height: 100%;
                    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                    h4 {
                        font-size: 28px;
                        font-weight: 400;
                        color: #fff;
                        background-color: $orange;
                        padding: 8px 18px;
                        border-radius: 3px 3px 0 0;
                    }
                    .inner-info {
                        padding: 0 20px 20px 20px;
                        strong {
                            font-family: $kanit;
                            font-size: 25px;
                            color: #969696;
                            font-weight: 400;
                        }
                        p {
                            font-size: 18px;
                            line-height: 1.4;
                            color: #333;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .picture-block {
        width: 100%;
        position: relative;
        background-image: linear-gradient(0deg, rgba(236,236,236,0.5) 2.38%, rgba(255,255,255,0) 2.38%, rgba(255,255,255,0) 50%, rgba(236,236,236,0.5) 50%, rgba(236,236,236,0.5) 52.38%, rgba(255,255,255,0) 52.38%, rgba(255,255,255,0) 100%);
        background-size: 1px 60px;
        padding: 15px 15px 30px;
        margin-bottom: 30px;
        border: 1px solid #ececec;
        box-shadow: 0 0px 6px 0px rgba(0,0,0,0.15);
        .title {
            max-width: 90px;
            height: 30px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: absolute;
            right: 0;
            left: 0;
            top: -20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background-color: #fff;
            border-top: 2px solid $orange;
            border-right: 1px solid #ececec;
            border-left: 1px solid #ececec;
            border-radius: 3px 3px 0 0;
            span {
                display: block;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.2;
                color: #969696;
                text-transform: uppercase;
            }
        }
        .arrow-indicator {
            width: 20px;
            height: 50px;
            position: absolute;
            bottom: 55%;
            right: 10%;
            animation-name: indicator-blink;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            @keyframes indicator-blink {
                0% {opacity: 0;}
                50% {opacity: 0; transform: translateY(0);}
                60% {opacity: 1; transform: translateY(-10px);}
                65% {opacity: 1; transform: translateY(0);}
                70% {opacity: 1; transform: translateY(-10px);}
                75% {opacity: 1; transform: translateY(0);}
                80% {opacity: 1; transform: translateY(-10px);}
                100% {opacity: 1; transform: translateY(-10px);}
            }
            &:before {
                content: '';
                display: block;
                width: 4px;
                height: 35px;
                background-color: $green;
                margin-left: auto;
                margin-right: auto;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: 20px;
                height: 20px;
                border-style: solid;
                border-width: 4px 4px 0 0;
                border-color: #8BC34A;
                transform: rotate(-45deg);
            }
        }
        svg {
            max-height: 120px;
            width: 100%;
        }
        .years-chart {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 9px;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            &:before {
                content: "";
                width: calc(100%);
                height: 1px;
                display: block;
                position: absolute;
                bottom: 7px;
                left: 0;
                border-top: 1px dashed #ececec;
                z-index: 4;
            }
            span {
                display: inline-block;
                font-size: 11px;
                font-weight: 700;
                background-color: #fff;
                padding: 0 12px;
                color: #969696;
                z-index: 5;
            }
        }
    }
    .chart-info {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        p {
            font-size: 21px;
            font-weight: 400;
            line-height: 1.4;
            color: #333;
            text-align: center;
            @media(max-width: 768px) {
                font-size: 15px;
            }
        }
        .logos {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            img {
                max-height: 40px;
                margin: 10px 20px;
            }
        }
    }
    #clip-path {
        rect {
            animation-name: clip-move;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            @keyframes clip-move {
                0% {transform: translateX(-105%);}
                50% {transform: translateX(0);}
                100% {transform: translateX(0);}
            }
        }
    }
    .cls-1,
    .cls-4 {
        fill: none;
    }
    .cls-2 {
        clip-path: url(#clip-path);
    }
    .cls-3 {
        fill: #daeeba;
        stroke: #daeeba;
        stroke-linejoin: round;
        stroke-width: 0;
        animation-name: fade-in;
        animation-duration: 5s;
        animation-iteration-count: infinite;

        @keyframes fade-in {
            0% {opacity: 0;}
            50% {opacity: 0;}
            60% {opacity: 1;}
            100% {opacity: 1;}
        }
    }
    .cls-3,
    .cls-4 {
        stroke-linecap: round;
    }

    .cls-4 {
        stroke: #3AAA35;
        stroke-miterlimit: 10;
        stroke-width: 1px;
    }
}