.Trend {
    padding-top: 45px;
    padding-bottom: 45px;
    h2 {
        &.trade-title {
            font-size: 42px;
            font-weight: 400;
            color: $green;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    .steps-wrapper {
        padding-bottom: 25px;
        .row {
            .step-item {
                .wrap {
                    height: 100%;
                    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                    h4 {
                        font-size: 28px;
                        font-weight: 400;
                        color: #fff;
                        background-color: $orange;
                        padding: 8px 18px;
                        border-radius: 3px 3px 0 0;
                    }
                    .inner-info {
                        padding: 0 20px 20px 20px;
                        strong {
                            font-family: $kanit;
                            font-size: 25px;
                            color: #969696;
                            font-weight: 400;
                        }
                        p {
                            font-size: 18px;
                            line-height: 1.4;
                            color: #333;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .picture-block {
        position: relative;
        background-image: linear-gradient(0deg, rgba(236,236,236,0.5) 2.38%, rgba(255,255,255,0) 2.38%, rgba(255,255,255,0) 50%, rgba(236,236,236,0.5) 50%, rgba(236,236,236,0.5) 52.38%, rgba(255,255,255,0) 52.38%, rgba(255,255,255,0) 100%);
        background-size: 1px 60px;
        padding: 15px 15px 30px;
        border: 1px solid #ececec;
        filter: drop-shadow(0 5px 5px rgba(0,0,0,0.15));
        .arrow-indicator {
            width: 20px;
            height: 50px;
            position: absolute;
            bottom: 55%;
            right: 10%;
            animation-name: indicator-blink;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            @keyframes indicator-blink {
                0% {opacity: 0;}
                50% {opacity: 0; transform: translateY(0);}
                60% {opacity: 1; transform: translateY(-10px);}
                65% {opacity: 1; transform: translateY(0);}
                70% {opacity: 1; transform: translateY(-10px);}
                75% {opacity: 1; transform: translateY(0);}
                80% {opacity: 1; transform: translateY(-10px);}
                100% {opacity: 1; transform: translateY(-10px);}
            }
            &:before {
                content: '';
                display: block;
                width: 4px;
                height: 35px;
                background-color: $green;
                margin-left: auto;
                margin-right: auto;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: 20px;
                height: 20px;
                border-style: solid;
                border-width: 4px 4px 0 0;
                border-color: #8BC34A;
                transform: rotate(-45deg);
            }
        }
        svg {
            max-height: 120px;
            width: 100%;
        }
    }
    #clip-path {
        rect {
            animation-name: clip-move;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            @keyframes clip-move {
                0% {transform: translateX(-105%);}
                50% {transform: translateX(0);}
                100% {transform: translateX(0);}
            }
        }
    }
    .cls-1,
    .cls-4 {
        fill: none;
    }
    .cls-2 {
        clip-path: url(#clip-path);
    }
    .cls-3 {
        fill: #daeeba;
        stroke: #daeeba;
        stroke-linejoin: round;
        stroke-width: 0;
        animation-name: fade-in;
        animation-duration: 5s;
        animation-iteration-count: infinite;

        @keyframes fade-in {
            0% {opacity: 0;}
            50% {opacity: 0;}
            60% {opacity: 1;}
            100% {opacity: 1;}
        }
    }
    .cls-3,
    .cls-4 {
        stroke-linecap: round;
    }

    .cls-4 {
        stroke: #3AAA35;
        stroke-miterlimit: 10;
        stroke-width: 1px;
    }
}