.green-section {
    padding-top: 75px;
    padding-bottom: 250px;
    background: url("../../TopSection/hero-bg-ambient.jpg") no-repeat center top / cover;
    background-size: cover;
    .famousNames {
        .famous-title {
            font-size: 56px;
            font-weight: 400;
            margin-bottom: 15px;
            color: #fff;
            text-align: center;
            @media (max-width: 764px) {
                font-size: 40px;
            }
        }
        .famous-description {
            font-size: 32px;
            font-weight: 400;
            line-height: 1.1;
            margin-bottom: 50px;
            color: $orange;
            text-align: center;
            @media (max-width: 764px) {
                font-size: 22px;
            }
        }
        .row {
            .famous-people {
                display: flex;
                align-items: flex-start;
                &:nth-child(2),
                &:nth-child(3) {
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid rgba(255,255,255,0.25);
                }
                .img {
                    margin-right: 15px;
                    img {
                        max-width: 160px;
                        border-radius: 100%;
                        border: 4px solid #fff;
                        overflow: hidden;
                    }
                }
                .single-person-info {
                    padding-top: 10px;
                    .name {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 15px;
                        color: $orange;
                        border-radius: 6px;
                    }
                    p {
                        font-size: 17px;
                        margin-bottom: 0;
                        font-style: italic;
                        color: #fff;
                        line-height: 1.3;
                    }
                }

            }
        }

    }

    //Benefits
    .Benefits {
        margin-top: 75px;
        .container {
            .benefits-list {
                display: flex;
                .benefit-item {
                    width: 31%;
                    margin-left: 1%;
                    margin-right: 1%;
                    .image {
                        background-color: #fff;
                        border-radius: 3px 3px 0 0;
                        img {
                            max-width: 240px;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    .description {
                        h3 {
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 1.1;
                            color: #fff;
                            margin: 0;
                            padding: 15px 20px 15px;
                            background-color: $orange;
                            text-align: center;
                            letter-spacing: inherit;
                        }
                        p {
                            font-size: 18px;
                            font-weight: 400;
                            padding: 15px 20px;
                            background-color: rgba(139,195,74,0.75);
                            color: #fff;
                            border-radius: 0 0 3px 3px;
                        }
                    }
                }
            }
        }
    }
}
