.JoinBtcRevolution {
    padding-top: 45px;
    border-bottom: 1px solid #cecece;
    h2 {
        font-size: 56px;
        font-weight: 400;
        padding: 0;
        color: $orange;
        margin-bottom: 35px;
        @media (max-width: 1200px) {
            font-size: 36px;
        }
        @media (max-width: 420px) {
            font-size: 25px;
        }
    }
    .bitcoin-media {
        margin-bottom: 45px;
        > span {
            display: block;
            font-size: 14px;
            color: #333;
            opacity: .5;
        }
        img {
            max-height: 30px;
        }
    }
    .description {
        p {
            font-size: 21px;
            line-height: 1.5;
            color: #333;
            font-weight: 400;
            @media (max-width: 420px) {
                font-size: 17px;
            }
        }
    }
}